.margin_auto{
  margin-left: auto;
  margin-right: auto;
}

.margin_top_5 {
  margin-top: 3px;
}

.margin_top_10 {
  margin-top: 10px;
}

.margin_top_20 {
  margin-top: 20px;
}

.margin_top_25 {
  margin-top: 25px;
}

.margin_top_30 {
  margin-top: 30px;
}
.margin_top_38 {
  margin-top: 38px;
}
.margin_top_40 {
  margin-top: 40px;
}

.margin_top_50 {
  margin-top: 50px;
}

.margin_bottom_5 {
  margin-bottom: 3px;
}

.margin_bottom_10 {
  margin-bottom: 10px;
}

.margin_bottom_20 {
  padding-bottom: 20px;
}

.margin_bottom_25 {
  margin-bottom: 25px;
}

.margin_bottom_30 {
  margin-bottom: 30px;
}

.margin_bottom_40 {
  margin-bottom: 40px;
}

.margin_bottom_50 {
  margin-bottom: 50px;
}

.margin_top_bot_8{
  margin: 8px 0;
}
.margin_top_bot_9{
  margin: 9px 0;
}

.margin_top_bot_10{
  margin: 10px 0;
}

.padding_top_bot_8{
  padding: 8px 0;
}
.padding_top_bot_9{
  padding: 9px 0;
}

.padding_top_bot_10{
  padding: 10px 0;
}

.padding_left_5 {
  padding-left: 3px;
}

.padding_left_10 {
  padding-left: 10px;
}

.padding_left_15 {
  padding-left: 15px;
}

.padding_left_20 {
  padding-left: 20px;
}

.padding_left_30 {
  padding-left: 30px;
}

.margin_left_5 {
  margin-left: 3px;
}

.margin_left_10 {
  margin-left: 10px;
}

.margin_left_15 {
  margin-left: 15px;
}

.margin_left_20 {
  margin-left: 20px;
}

.margin_left_30 {
  margin-left: 30px;
}

.padding_top_5 {
  padding-top: 5px;
}

.padding_top_10 {
  padding-top: 10px;
}

.padding_top_15 {
  padding-top: 15px;
}

.padding_top_20 {
  padding-top: 20px;
}

.padding_top_30 {
  padding-top: 30px;
}

.padding_top_40 {
  padding-top: 40px;
}

.padding_top_50 {
  padding-top: 50px;
}

.padding_top_60 {
  padding-top: 60px;
}

.padding_top_70 {
  padding-top: 70px;
}

.padding_top_80 {
  padding-top: 80px;
}

.padding_top_90 {
  padding-top: 90px;
}

.padding_top_100 {
  padding-top: 100px;
}

.padding_bottom_5 {
  padding-bottom: 5px;
}

.padding_bottom_10 {
  padding-bottom: 10px;
}

.padding_bottom_15 {
  padding-bottom: 15px;
}

.padding_bottom_20 {
  padding-bottom: 20px;
}

.padding_bottom_30 {
  padding-bottom: 30px;
}

.padding_bottom_40 {
  padding-bottom: 40px;
}

.padding_bottom_50 {
  padding-bottom: 50px;
}

.padding_bottom_60 {
  padding-bottom: 60px;
}

.padding_bottom_70 {
  padding-bottom: 70px;
}

.padding_bottom_80 {
  padding-bottom: 80px;
}

.padding_bottom_80 {
  padding-bottom: 80px;
}

.padding_bottom_90 {
  padding-bottom: 90px;
}

.padding_bottom_100 {
  padding-bottom: 90px;
}


//For Font sizes
.font_10{
  font-size:10px;
}
.font_11{
  font-size:11px;
}
.font_12{
  font-size:12px;
}
.font_13{
  font-size:13px;
}
.font_14{
  font-size:14px;
}
.font_15{
  font-size:15px;
}
.font_16{
  font-size:16px;
}
.font_17{
  font-size:17px;
}
.font_18{
  font-size:18px;
}
.font_19{
  font-size:19px;
}
.font_20{
  font-size:20px;
}

.pull-right{
  float:right !important;
}

.pull-left{
  float:left !important;
}

.cursor-pointer{
  cursor: pointer;
}

.no-outline{
  outline:0;
}

.text-center{
  text-align: center;
}