@media (min-width: 768px){
  .modal-dialog {
       width:90% !important;
  }
}

@media (max-width: 990px) {
  .margin_top_30_sm_md{
    margin-top:30px !important;
  }



}
@media (max-width: 1200px) {
  .padding_top_60_sm_md {
    padding-top: 60px;
  }
}